.auth-reg-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.authorization, .registration {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-title {
    margin: 0 auto 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: var(--basic-darkblue);
    display: flex;
    align-items: center;
    text-align: center;
}

