.task-column {
    width: 240px;
    max-height: 100%;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: relative;
    background-color: var(--basic-light-gray);
    box-shadow: 0 8px 5px 5px var(--basic-light-gray);
}

.task-column:after {
    content: "";
    height: 20px;
    width: 225px;
    top: 65px;
    left: 5px;
    position: absolute;
    background: linear-gradient(to bottom, var(--basic-light-gray), transparent 20px);
}

.new-task-button:after {
    content: "";
    height: 20px;
    width: 225px;
    top: -30px;
    left: 5px;
    position: absolute;
    background: linear-gradient(to bottom, transparent, var(--basic-light-gray) 20px);
}

.task-column:last-of-type {
    margin-right: 100px;
}

.column-title {
    height: 35px;
    display: flex;
    margin-bottom: 30px;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: var(--basic-white);
    box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.09);
    border-radius: 4px;
    margin-right: 20px;
}

.tasks {
    list-style-type: none;
    margin: 0;
    padding: 20px 10px 10px 5px;
    overflow-y: scroll;
    position: relative;
}

.new-task-button {
    width: 200px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background: none;
    border: none;
    color: var(--basic-gray);
    cursor: pointer;
    margin: 10px 0;
}

.new-task-button:before {
    content: "";
    height: 15px;
    width: 15px;
    top: 3px;
    left: 10px;
    position: absolute;
    background-image: url(../../icons/plus.svg);
}

.new-column-button {
    width: 220px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--new-column);
    border: none;
    cursor: pointer;
}

.column-title-button {
    cursor: pointer;
}

.column-title-form {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
}

.column-title-form-item {
    height: 100%;
    border: none;
    background: none;
}

.column-title-input {
    width: 200px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align:center;
    text-indent: 50px;
    padding: 0;

}

.column-title-save-button {
    padding: 0;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../icons/column_edit_save.svg);
    cursor: pointer;
}

.column-title-close-button {
    padding: 0;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../icons/column_edit_cancel.svg);
    cursor: pointer;
}