.list-line {
    width: 100%;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    border-bottom: 1px solid var(--basic-light-gray);
    border-radius: 5px;
    position: relative;

}

.list-line-wrapper {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding-right: 30px;
}

.list-line-wrapper:hover .list-line{
    background-color: #F4F4F4;
}

{
    content: "";
    position: absolute;
    right: -50px;
    width: 29px;
    height: 29px;
    background-image: url("../../../icons/edit.svg");
    cursor: pointer;
}

.edit-button {
    border: none;
    background: none;
    cursor: pointer;
    visibility: hidden;
}

.list-line-wrapper:hover .edit-button {
    visibility: visible;
}