.list-line {
    width: 100%;
    padding: 10px 0 10px 10px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 10%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--gray);
    border-radius: 5px;
    position: relative;
    resize: none;

}

.list-line-wrapper {
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

.list-line-wrapper:hover .list-line,
.list-line:focus {
    background-color: #F4F4F4;
}

.list-line-wrapper:hover .edit-button,
.list-line-wrapper:focus-within .edit-button {
    visibility: visible;
}