.list-line {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    border-bottom: 1px solid var(--basic-light-gray);
    border-radius: 5px;
    position: relative;

}

.list-line:hover {
    background-color: #F4F4F4;
}

.list-line:hover:after {
    content: "";
    position: absolute;
    right: -50px;
    width: 29px;
    height: 29px;
    background-image: url("../../../icons/edit.svg");
    cursor: pointer;
}