.github-login-button {
    background-color: var(--github-black);
}

.other-authorization-split {
    margin: 15px auto;
}

.other-authorization-split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.authorization-split-line {
    width: 150px;
    height: 0;
    border-bottom: 1px solid var(--basic-gray);
}

.authorization-split-label {
    font-family: 'roboto', sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: var(--basic-gray);
}