
.kanban-board {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 70px 45px 0;
    box-sizing: border-box;
}

.kanban-board::after {
    content:"";
    width: 1px;
    flex-shrink: 0;
}