.auth-reg-split-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.split-line-dash {
    width: 150px;
    height: 0;
    border-bottom: 1px solid var(--gray--darken);
}

.split-line-label {
    font-family: 'roboto', sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: var(--gray--darken);
}