
.new-column-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--new-column);
    border: none;
    cursor: pointer;
}

.last-column {
    margin-right: 50px
}