.expanding-element {
    width: 100%;
    margin-bottom: 20px;
    padding-left: 24px;
    background: var(--basic-white);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    user-select: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}

.constant-part {
    height: 42px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.element-title {
    margin-right: 40px;
}

.hiding-part {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px 20px 12px;
    display: none;


}

.expanding-element-checkbox {
    display: none;
}

.expanding-element-checkbox:checked ~ .hiding-part {
    display:block;
}


.expanding-element-checkbox:checked ~ .constant-part .show-button {
    transform: rotate(180deg);
}

.line-text {
    width: 50%;
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.description {
    width: 50%;
    padding: 5px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: clip;
    position: relative;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, black 80%, white);
}


.list-line .participants {
    width: 20%;
}

.task-date {
    width: 10%;
    display: flex;
    align-items: center;
}

.project-status-line {
    width: 12%;
}