.app-header {
    height: 50px;
    position: fixed;
    top: 0;
    left: 80px;
    right: 0;
    display: flex;
    flex-grow: 3;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--basic-white);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.header-side-area {
    height: 100%;
    margin-right: 45px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

.header-title {
    height: 100%;
    margin: 0 50px 0 70px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 18px;
}

.header-button {
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    padding: 0 15px 0 15px;
    background: var(--basic-light-gray);
    border: none;
    border-radius: 4px;
    user-select: none;
    cursor: pointer;
}

.header-button-image {
    margin-right: 10px;
}

.header-button-text {
    font-size: 14px;
    color: var(--header-button-text);
    white-space: nowrap;
}