html, body, .root, .body{
    height: 100%
}


:root {
    --basic-black: #000000;
    --basic-white: #ffffff;
    --basic-gray: #A3A3A3;
    --basic-light-gray: #E9E9E9;
    --super-light-gray: #F6F6F6;
    --basic-darkblue: #53769A;
    --basic-dark-darkblue: #456485;
    --github-black: #24292E;
    --header-button-text: #3F3F3F;
    --user-icon-color: #A67BEC;
    --performers-icon: #4376A5;
    --new-column: #818181;
}

/* Body */
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
    display: flex;
    flex-direction: row;
}

.body-auth {
    flex-direction: column;
}
/* Common selectors */

