html, body, .root, .body{
    height: 100%
}


:root {
    --basic-black: #000000;
    --basic-white: #ffffff;

    --gray--lighten: #F6F6F6;
    --gray--light: #F0F0F0;
    --gray: #E9E9E9;
    --gray--dark: #CFCFCF;
    --gray--darken: #A3A3A3;
    --gray--darkest: #646464;

    --color-main--lighten: #81a2c7;
    --color-main--ligth: #5A80A6;
    --color-main: #53769A;
    --color-main--dark: #456485;

    --github-button: #24292E;
    --github-button-hover: #323F45;
    --github-button-active: #10140F;

    /*--button-icon-color: #5A5A5A;*/
    --header-button-text: #3F3F3F;
    --user-icon-color: #A67BEC;
    --performers-icon: #4376A5;
    --new-column: #818181;
    --modal-text-color: #6F6F6F;
    --modal-button-color: #673AB7;
}

/* Body */
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: var(--basic-black);
    display: flex;
    flex-direction: row;

}

.body-auth {
    flex-direction: column;
}


.custom-scroll {
    cursor: auto;
}

.custom-scroll::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--gray);
}


.custom-scroll::-webkit-scrollbar-track:hover {
    cursor: pointer;
}

.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #A3A3A3;
}

.custom-scroll::-webkit-scrollbar-corner {
    background-color: var(--gray);

}


/* Common selectors */

