.github-login-button {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: var(--basic-white);
    border: none;
    border-radius: 5px;
    background-color: var(--github-button);
    text-decoration: none;
}

.github-login-button:hover,
.github-login-button:focus{
    background-color: var(--github-button-hover);
}
.github-login-button:active{
    background-color: var(--github-button-active);
}

.github-icon {
    margin-right: 10px;
}